<!-- Hero -->
<div class="p-5 text-center bg-image" style="
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
  ">
  <div class="p-3 mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="justify-content-center align-items-center">
      <div class="text-white">
        <h1 class="mb-3">Welcome to your local library website</h1>
        <p>
          Your local library is a great resource to find all types of media!
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Hero -->
